@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  background: #fff url(../images/background.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  position: relative;
}

/* Sign In & Sign up container */
/* #sign {
  position: absolute;
  right: 8px;
  top: 5px;
} */

/* Sign In & Sign up direction */
/* .top-right {
  color: white;
  background-color: #0000ff;
  font-size: 16px;
  padding: 8px 15px;
  margin-right: 0.5px;
  border-top: #dddddd solid 2.5px;
  border-left: #dddddd solid 2.5px;
  border-right: #898989 solid 2.5px;
  border-bottom: #898989 solid 2.5px;
  cursor: pointer;
}
.top-right:last-child {
  margin-left: 6px;
} */

/* All posts & create post container */
#post-container {
  position: absolute;
  left: 42%;
  top: 42%;
}

/* All posts & create post direction */
.center-button {
  background-color: #cfb53b;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 15px;
  border-top: #dddddd solid 2.5px;
  border-left: #dddddd solid 2.5px;
  border-right: #898989 solid 2.5px;
  border-bottom: #898989 solid 2.5px;
  cursor: pointer;
}
.center-button:last-child {
  margin-left: 6px;
}

#post-container a {
  color: black;
}

.modal-post {
  width: 70%;
  background-color: #fefefe;
  margin: -85px auto;
  padding: 25px;
  border: 1px solid #888;
  position: relative;
}

#myModal3 h2 {
  text-align: center;
  font-family: "Abel", sans-serif;
  font-size: 35px;
  margin-top: -18px;
}

.text-field-title {
  background-color: #f1f1f1;
  border: none;
  width: 45%;
  height: 34px;
  margin: 5px 28px 15px 28px;
}

.textarea-content {
  background-color: #f1f1f1;
  margin: 5px 28px 10px 28px;
}
.create-post-btn {
  color: white;
  background-color: #5eb762;

  font-size: 16px;
  padding: 8px auto;
  padding: 10px 20px;
  border: none;
}
.create-post-btn-container {
  display: flex;
  justify-content: center;
}

#myModal3 label {
  margin: 5px 28px;
  font-weight: bold;
  font-family: "Abel", sans-serif;
  font-size: 20px;
}

#myModal3 label :last-child {
  margin-bottom: 0;
}

#closeId2 {
  font-size: 55px;
  font-weight: bold;
  position: absolute;
  left: 96%;
  top: -5px;
  color: #001430;
}

#closeId2:hover,
#closeId2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#post-container .center-button a:link,
a:visited {
  color: #000;
  text-decoration: none;
}
